<a href="https://colab.research.google.com/github/Nishanth30112/Python-Full-Satck-Developmen/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
numberset={1,2,3,4,3,2}
print(numberset)

{1, 2, 3, 4}

In [3]:
emptyset={}
print(type(emptyset))

<class 'dict'>

In [4]:
emptyset=set()
print(type(emptyset))

<class 'set'>

In [5]:
my_set ={1.0,"Hello",(1,2,3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [6]:
set_with_lists = set([1,2,3])
print(type(set_with_lists))
print(set_with_lists)

<class 'set'>
{1, 2, 3}

In [7]:
my_set=set()
my_set.update([9,12])
my_set.update((3,5))
my_set.update("SIKANDHAR")
print(my_set)

{'R', 3, 'N', 5, 'H', 9, 12, 'K', 'I', 'D', 'A', 'S'}

In [8]:
my_set.update(("INDIA","BHARAT"))
print(my_set)

{'R', 3, 'N', 5, 'H', 'BHARAT', 9, 'INDIA', 12, 'K', 'I', 'D', 'A', 'S'}

In [10]:
my_set.update((4,5))

In [11]:
print(my_set)

{'R', 3, 'N', 5, 'H', 'BHARAT', 4, 9, 'INDIA', 12, 'K', 'I', 'D', 'A', 'S'}

In [ ]:
my_set.discard(15)
print(my_set)

{3, 'D', 5, 'K', 'INDIA', 9, 'I', 12, 'R', 'A', 'H', 'S', 'BHARAT', 'N'}

In [ ]:
print(my_set)
my_set.remove(15)

{3, 'D', 5, 'K', 'INDIA', 9, 'I', 12, 'R', 'A', 'H', 'S', 'BHARAT', 'N'}

KeyError: ignored

In [ ]:
my_set=set("apple")
print('a'in my_set)
print('p'not in my_set)

True
False

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print('union = ',A|B)
print('Intersection = ',A&B)
print('Difference = ',A-B)
print('Symmetric Diff = ',A^B)

union =  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection =  {4, 5}
Difference =  {1, 2, 3}
Symmetric Diff =  {1, 2, 3, 6, 7, 8}

In [ ]:
studentList = {'danish', 'jaison', 'sangeetha', 'uma', 'amrutha', 'lohita', 'prasad', 'ashwathi'}
placedStudList = ["uma", "danish", "amrutha"]
notPlacedStudList = set (studentList) - set (placedStudList) 
print ("Students yet to get job \n", notPlacedStudList)

Students yet to get job
 {'prasad', 'jaison', 'lohita', 'ashwathi', 'sangeetha'}

In [ ]:
batsmen = ["virat", "rohit", "dhawan", "dhoni", "pandya", "jadeja"]
bowlers = ["bhuvenashwar", "shami", "pandya", "jadeja", "kuldeep"]
allrounders = set (batsmen) & set (bowlers)
print ("Batsmen : ", batsmen) 
print ("Bowlers : ",bowlers) 
print ("All rounders: ", allrounders)

Batsmen :  ['virat', 'rohit', 'dhawan', 'dhoni', 'pandya', 'jadeja']
Bowlers :  ['bhuvenashwar', 'shami', 'pandya', 'jadeja', 'kuldeep']
All rounders:  {'jadeja', 'pandya'}

In [ ]:
tcs = ["uma","danish", "amrutha"] 
infosys = ["lohita", "danish", "ashwathi"] 
wipro = ["sangeetha", "jaison", "prasad", "amrutha"]
placed = set (tcs) | set (infosys) | set (wipro)
print (placed)
print ("Number of people placed = ", len (placed))

{'prasad', 'jaison', 'amrutha', 'danish', 'uma', 'lohita', 'ashwathi', 'sangeetha'}
Number of people placed =  8

In [ ]:
numbers = {1,2,3,4,5,6,7,8,9,10}

odd = {1,3,5,7,9}

even = {2,4,6,8,10}

print (odd.isdisjoint (even))

print (numbers.issuperset (odd))

print (odd. issuperset (numbers))

print (odd. issubset (numbers))

True
True
False
True

In [ ]:
data = "cranes varsity bangalore"
unique = set (data)
print("Number of unique characters =", len (unique)) 
print ("List of unique characters = ", unique)
data = list(data)
for ele in unique:
 data.remove (ele)
print("Repeated Characters ",set(data))

Number of unique characters = 15
List of unique characters =  {'a', 'b', 'i', 'o', 'e', 's', 't', 'g', ' ', 'r', 'y', 'c', 'l', 'n', 'v'}
Repeated Characters  {'a', 'e', 's', ' ', 'r', 'n'}